{% extends 'editor/layout.html' %}

{% block title %}Add/Remove sections{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Edit view</h2>
            </div>
        </div>

        {% if messages %}
            <div class="row justify-content-center">
                <div class="col-10">
                    {% for message in messages %}
                        <div
                            class="alert {% if message.extra_tags %}{{ message.extra_tags }}{% endif %} my-4"
                            role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form action="{% url 'news:editorArticleEditView' articleID=article.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h4>Section:</h4>
                    <label for="sectionSelect">
                        <select class="form-control" name="section" id="sectionSelect">
                            {% for s in section %}
                                <option
                                    value="{{ s.section }}"
                                    {% if s.section == article.section.section %}
                                        selected
                                    {% endif %}>
                                    {{ s.section }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>

                <div class="col">
                    <h4>Author:</h4>
                    <input type="text" name="author" class="form-control" placeholder="Enter author" value="{{ article.author }}">
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <h4>Header:</h4>
                    <input name="header" id="header" type="text" class="form-control" value="{{ article.header }}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Subheader:</h4>
                    <textarea name="subheader" id="" cols="30" rows="3" class="form-control" placeholder="Enter sub-headline">{{ article.subheader }}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Header image:</h4>
                    <img src="{{ article.thumbnail.url }}" alt="{{ article.thumbnail.name }}" height="300">
                    <label for="image">Change header image
                        <input type="file" class="form-control-file" accept="image/*" name="thumbnail" id="image">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Body:</h4>
                    <textarea name="body" id="" cols="30" rows="10" class="form-control" placeholder="Enter body">{{ article.body }}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">Edit Article</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
