{% extends 'news/layout.html' %}

{% block title %}News{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col">

                <!-- Front slogan -->
                <div class="row pageIndexFrontSlogan justify-content-center">
                    <div class="col col-md-9">
                        <span>Lorem ipsum?</span>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <!-- container -->
                    <div class="col-12 col-md-9">
                        <div class="row justify-content-md-between">

                            <!-- front column -->
                            <div class="col-12 col-md-6">

                                <!-- Front page image -->
                                <a class="row pageIndexFrontImg" href="{% url 'news:article' articleID=front.0.article.id %}">
                                    <img
                                        class="col"
                                        src="{{ front.0.article.thumbnail.url }}"
                                        alt="{{ front.0.article.header }}">
                                </a>

                                <!-- front page header -->
                                <div class="row pageIndexFrontHeader">
                                    <div class="col">

                                        <a href="{% url 'news:article' articleID=front.0.article.id %}">
                                            <!-- front date -->
                                            <span>{{ front.0.article.last_updated|date:'d/m/y' }}</span><br>

                                            <!-- front header -->
                                            <span>{{ front.0.article.header }}</span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <!-- subfront column -->
                            <div class="col-12 col-md-6">

                                {% for f in front %}
                                    {% if forloop.counter0 != 0 %}
                                        <hr class="mt-md-0">

                                        <div class="pageIndexSubHeader">
                                            <a href="{% url 'news:article' articleID=f.article.id %}">
                                                <!-- subfront date -->
                                                <span>{{ f.article.last_updated|date:'d/m/y' }}</span><br>

                                                <!-- subfront header -->
                                                <span>{{ f.article.header }}</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>


                <!-- section -->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9">
                        <div class="row">
                            {% for c in catag %}
                                <div class="col-12 col-md-6">
                                    <!-- section name -->
                                    <div class="row pageIndexSectionName">
                                        <div class="col">
                                            <a href="{% url 'news:section' sectionName=c.section.section %}"><span>{{ c.section.section }}</span></a>
                                        </div>
                                    </div>

                                    <!-- section header -->
                                    <!-- section header img -->
                                    <a class="row pageIndexSectionImg" href="{% url 'news:article' articleID=c.article.0.id %}">
                                        <img class="col" src="{{ c.article.0.thumbnail.url }}" alt="{{ c.article.0.header }}">
                                    </a>

                                    <!-- section header header -->
                                    <div class="row pageIndexSectionHeader">
                                        <a class="col" href="{% url 'news:article' articleID=c.article.0.id %}">
                                            <!-- date -->
                                            <span>{{ c.article.0.last_updated|date:'d/m/y' }}</span><br>

                                            <!-- header -->
                                            <span>{{ c.article.0.header }}</span>
                                        </a>
                                    </div>

                                    <!-- section subheader -->
                                    {% for a in c.article %}
                                        {% if forloop.counter0 != 0 %}
                                            <div class="row pageIndexSectionSubHeader">
                                                <a class="col" href="{% url 'news:article' articleID=a.id %}">
                                                    <hr>
                                                    <!-- date -->
                                                    <span>{{ a.last_updated|date:'d/m/y' }}</span><br>

                                                    <!-- subheader -->
                                                    <span>{{ a.header }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>

{% endblock %}
