{% extends 'news/layout.html' %}

{% block title %}News{% endblock %}

{% block body %}

    <div class="container py-2">
        <div class="row">
            <div class="col">
                <h3>What's hot?</h3>
            </div>
        </div>

        <!-- frontPage lastest -->
        <div class="row justify-content-center mb-1">

            <!-- big front -->
            <a class="col-11 p-0 col-md-6 mb-2 mr-md-1" href="{% url 'news:article' articleID=front.0.article.id %}">

                <!-- big image -->
                <div class="row">
                    <div class="col-12 p-0 bigFrontImgContainer">
                        <img src="{{ front.0.article.thumbnail.url }}" alt="{{ front.0.article.header }}">
                    </div>
                </div>

                <!-- big header -->
                <div class="row">
                    <div class="col-12 p-0 px-2 pb-2 bigFrontHeaderContainer">
                        <span class="dateFont">{{ front.0.article.last_updated|date:'d/m/y' }}</span>
                        <br>
                        <span class="bigHeaderFont">{{ front.0.article.header }}</span>
                    </div>
                </div>

            </a>

            <!-- sub front  -->
            <div class="col-11 col-md-5 ml-md-auto">
                {% for f in front %}
                    {% if forloop.counter0 != 0 %}
                        <div class="row mb-3">
                            <div class="col-12 p-0">
                                <a class="row" href="{% url 'news:article' articleID=f.article.id %}">

                                    <!-- thumbnail -->
                                    <img class="col-3 p-0 mr-auto subFrontImgContainer" src="{{ f.article.thumbnail.url }}" alt="{{ f.article.header }}">

                                    <!-- header & date -->
                                    <div class="col p-0 pt-2 pl-2 ml-auto subFrontHeaderContainer">
                                        <span class="dateFont">{{ f.article.last_updated|date:'d/m/y' }}</span>
                                        <br>
                                        <span class="subHeaderFont">{{ f.article.header }}</span>
                                    </div>

                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- section -->
        <div class="row jusify-content-center justify-content-md-between">
            {% for c in catag %}
                <div class="col-11 col-md-5 p-0 mx-auto mx-md-0 mb-3">
                    <div class="row">
                        <div class="col p-0"><hr></div>
                    </div>

                    <!-- section name -->
                    <div class="row mb-2">
                        <a class="col" href="{% url 'news:section' sectionName=c.section.section %}">
                            <span class="sectionBig">{{ c.section.section }}</span>
                        </a>
                    </div>

                    <!-- section headlines -->
                    {% for a in c.article %}
                        <a class="row mb-2" href="{% url 'news:article' articleID=a.id %}">

                            <!-- thumbnail -->

                            <img class="col-3 p-0 mr-auto ml-1 sectionImgContainer" src="{{ a.thumbnail.url }}" alt="{{ a.header }}">


                            <!-- headline -->
                            <div class="col p-0 pl-3 ml-auto my-auto sectionHeaderContainer">

                                <!-- date -->
                                <span>{{ a.last_updated|date:'d/m/y' }}</span>
                                <br>

                                <!-- header -->
                                <span>{{ a.header }}</span>
                            </div>
                        </a>
                    {% endfor %}

                    <div class="row">
                        <div class="col p-0"><hr></div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}
