hr {
  border-color: #c8c8c8;
  margin-top: 1rem;
  margin-bottom: 0.1rem; }

.pageIndexFrontSlogan {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .pageIndexFrontSlogan span {
    color: black;
    font-size: 1.8rem;
    font-weight: bold; }

.pageIndexFrontImg img {
  height: 12.5rem;
  object-fit: cover;
  width: 100%; }

.pageIndexFrontHeader {
  line-height: 1.4rem; }
  .pageIndexFrontHeader span {
    color: black; }
  .pageIndexFrontHeader span:first-child {
    font-weight: lighter; }
  .pageIndexFrontHeader span:last-child {
    font-size: 1.1rem;
    font-weight: bold; }

.pageIndexSubHeader span {
  color: black; }
.pageIndexSubHeader span:first-child {
  font-weight: lighter; }
.pageIndexSubHeader span:last-child {
  font-weight: bold; }

@media (min-width: 768px) {
  .pageIndexSubHeader {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }
.pageIndexSectionName {
  margin-top: 2rem;
  margin-bottom: 1rem; }
  .pageIndexSectionName span {
    color: #4e4e4e;
    font-size: 1.3rem;
    font-weight: bold; }

.pageIndexSectionImg img {
  height: 10rem;
  width: 100%;
  object-fit: cover; }

.pageIndexSectionHeader {
  line-height: 1.3rem; }
  .pageIndexSectionHeader span {
    color: black; }
  .pageIndexSectionHeader span:first-child {
    font-weight: lighter;
    font-size: 0.9rem; }
  .pageIndexSectionHeader span:last-child {
    font-weight: bold; }

.pageIndexSectionSubHeader {
  line-height: 1.3rem; }
  .pageIndexSectionSubHeader span {
    font-size: 0.9rem;
    color: black; }
  .pageIndexSectionSubHeader span:first-child {
    font-weight: lighter; }
  .pageIndexSectionSubHeader span:last-child {
    font-weight: bold; }

.pageSectionBigName {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem; }
  .pageSectionBigName span {
    font-size: 1.4rem; }

@media (min-width: 768px) {
  .pageSectionBigName {
    margin-bottom: 3rem;
    margin-top: 2rem; }
    .pageSectionBigName span {
      font-size: 1.6rem; } }
.pageSectionArticleContainer {
  margin-bottom: 2rem; }

.pageSectionArticleThumbnail {
  object-fit: cover;
  max-width: 100%;
  height: 9rem;
  overflow: hidden; }

@media (min-width: 768px) {
  .pageSectionArticleThumbnail {
    height: 14rem; } }
.pageSectionArticleHeader span {
  color: black; }
.pageSectionArticleHeader span:first-child {
  font-weight: lighter; }
.pageSectionArticleHeader span:last-child {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 0.5rem; }

@media (min-width: 768px) {
  .pageSectionArticleHeader span:first-child {
    font-size: 1.1rem;
    line-height: 2rem; }
  .pageSectionArticleHeader span:last-child {
    font-size: 1.3rem;
    line-height: 1rem; } }
.pageArticleSection {
  margin-top: 1rem; }
  .pageArticleSection span {
    font-size: 1.5rem;
    text-decoration: underline;
    color: black; }

.pageArticleHeader {
  margin-top: 1rem;
  margin-bottom: 0.5rem; }
  .pageArticleHeader span:first-child {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: bold; }

.pageArticleDate {
  margin-bottom: 1rem; }
  .pageArticleDate span {
    font-weight: lighter; }

.pageArticleSubheader {
  margin-bottom: 1rem;
  text-align: justify; }

.pageArticleImg {
  margin-bottom: 1rem; }
  .pageArticleImg img {
    height: 14rem;
    object-fit: cover;
    max-width: 100%; }

@media (min-width: 768px) {
  .pageArticleImg img {
    height: 24rem; } }
.pageArticleBody {
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
